.Rproj.user
.Rhistory
.RData
.Ruserdata
editing_photos.pptx  
D:/umair-durrani/rpy/data_visualization/data/df.parquet  
D:/umair-durrani/rpy/data_transformation/data/df_raw.parquet  
D:/umair-durrani/posts/visual_looming/rsconnect  
D:/umair-durrani/posts/visual_looming/driver_data.parquet  
D:/umair-durrani/posts/visual_looming/geom_car.R  
D:/umair-durrani/posts/visual_looming/loomingv2.R  
D:/umair-durrani/posts/visual_looming/simulate_wiedemann74_driver_vanilla.R  
D:/umair-durrani/posts/visual_looming/wiedemann74_driver_for_loop_vanilla.cpp   
D:/umair-durrani/posts/visual_looming/wiedemann_model3.R
MLinTransportation/2023-04-15-classifying-traffic-signs/german-traffic-signs/
posts/2020-12-25-elevation-maps-in-r/PDEM_South.tif
MLinTransportation/clustering-drivers/I80_1st15minutes_complete.rds
posts/2022-08-15-gipps-model-in-r-and-julia/dfn1.csv
/.quarto/
